.dont-show {
    display: none;
}

body,
html {
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

@media (min-width: 1200px) {}

/* Fonts ---------- */
p, span,
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #404040;
}

.lato-bold {
font-family: "Lato", sans-serif;
font-weight: 700;
font-style: normal;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
font-family: "Lato", sans-serif;
font-weight: 700;
font-style: italic;
}


button {
    border: 1px solid #134da2;
    flex: none;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    padding: calc(10px + 0.5rem) calc(10px + 1rem);
    margin-right: 1%;
    background-color: #fff;
    color: #404040;
    border-radius: 15px;
}

@media (max-width: 576px) {
    button {
        font-size: 16px;
        line-height: 22px;
        padding: calc(10px + 0.5rem) calc(10px + 1rem);
        background-color: #fff;
        color: #404040;
        border-radius: 15px;
    }

    i.button {
        margin: 0 0.5rem;
        padding: 0.5rem;
        border-radius: 50%;
    }
}

@media (min-width: 449px) {
    i.button {
        margin: 0 1rem;
        padding: 1rem;
        border-radius: 50%;
    }
}

@media (max-width: 448px) {
    button {
        font-size: 16px;
        line-height: 22px;
        /* width: 30%; */
        padding: calc(0.5rem) calc(1rem);
        border-radius: 5px;
    }

    i.button {
        margin: 0 0.5rem;
        padding: 0.5rem;
        border-radius: 50%;
    }
}

@media (max-width: 350px) {
    button {
        font-size: 14px;
        line-height: 18px;
        padding: calc(0.5rem) calc(1rem);
        border-radius: 5px;
    }

    i.button {
        margin: 0 0.5rem;
        padding: 0.5rem;
        border-radius: 50%;
    }
}


i.button:hover,
button:hover {
    background-color: #134da2;
    color: #fff;
}

button.no-style {
    border: none;
    display: flex;
    font: inherit;
    padding: 0;
    align-items: center;
    background-color: #fff;
}

/* Topbar ---------- */

#topbar {
    background-color:#404040;
    width: 100%;
    height: 33px;
}


/* Header ---------- */
header {
    background-color: #fff;
    border-bottom: 1px solid #40404020;
    
}

div#header {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 351px) { div#header { height: 100px;}}
@media (max-width: 350px) { div#header { height: auto;}}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
}
@media (max-width: 1190px) { .container { margin-left: 50px; margin-right: 50px;}}
@media (min-width: 1140px) { .container { max-width: 1140px; }}
@media (min-width: 992px)  { .container { max-width: 960px;  }}
@media (min-width: 768px)  { .container { max-width: 720px;  }}
@media (min-width: 576px)  { .container { max-width: 540px;  }}
@media (max-width: 350px) { .container { margin-left: 0!important; width: 90%!important;}}

div.menu {
    align-items: center;
    display: flex;
    flex-direction: row; 
    height: 100px; 
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 100%;
    transition: height .3s ease;
}
@media (max-width: 575px) {  span.nav-label  { display: none; }}

@media (max-width: 576px) { 
    div.sampi-db-menu,
    div.sampi-db-nav
     { flex: 1 0 calc(30% - 6px); max-width: calc(30% - 6px); }
    div.sampi-db-logo { flex: 1 0 calc(40% - 6px); max-width: calc(40% - 6px); }
}
@media (max-width: 575px) { 
    div.sampi-db-menu,
    div.sampi-db-nav
     { flex: 1 0 calc(10% - 6px); max-width: calc(10% - 6px); }
     div.sampi-db-logo { flex: 1 0 calc(60% - 6px); max-width: calc(60% - 6px); }
}


/* Left column */
div.sampi-db-menu {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 576px) { button.no-style  { margin-right: 50px; }}
@media (max-width: 575px) { button.no-style  { margin-right: 0; }}

/* Center column */
div.sampi-db-logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

div.sampi-db-logo img {
    height: 70px;
    max-width: 100%;
    vertical-align: middle;
}

@media (max-width: 576px) { div.sampi-db-logo img { margin-left: -15px; }}
@media (max-width: 575px) { div.sampi-db-logo img { margin-left: 0; }}

/* Right Column */ 
nav.sampi-db-nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

nav.sampi-db-nav a,
div.miun-user a {
    text-decoration: none;
    align-items: center;
    border: none;
    display: flex;
}

@media (max-width: 576px) { 
    nav.sampi-db-nav a,
    div.miun-user a {
        margin-right: 50px;
    }}
@media (max-width: 575px) { nav.sampi-db-nav a,
    div.miun-user a {
        margin-right: 0px;
    }}

span {
    font-size: 18px;
    line-height: 22px;
    margin-left: 6px;
}

span:hover {
    text-decoration: underline;
    color: #404040;
}

i {
    font-size: 20px;
    line-height: 32px;
    margin-right: 6px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    color: #404040;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    word-wrap: normal;
    direction: ltr;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}

div#colors {
    background-color: #df2b26;  /* red */
    background-color: #087f47;  /* green */
    background-color: #fbd030;  /* yellow */
    background-color: #c1daf3;  /* lt blue */
    background-color: #0d58a3;  /* dk blue */
    background-color: #134da2;  /* dk blue */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

